{% extends "base.html" %}
{% block start %}
    <!-- <h1>
        Hello Client !!
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repudiandae nulla dolorum quo rem ad ducimus aspernatur impedit deleniti nisi.
    </p>

    <p>{{names}}</p>            

    {% for name in names %}
    <h3>{{name}}</h3>
    {% endfor %}

    {{ fruits | default:"No value" }}  
    {{ names | length }}

    <a href="/contact/">Contact</a>
    <a href="/about/">About</a> -->


    <!-- Django Forms

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form> -->


    <!-- HTML Forms -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Name</label>
        <input name="full-name" placeholder="Enter your name">
        <br><br>
        <label for="">Age</label>
        <input name="age" placeholder="Enter your age">
        <br><br>
        <label >Gender</label>
        <select name="gender">
            <option value="Male">Male</option>
            <option value="FeMale">Female</option>
        </select>
        <br><br>
        <label for="">Upload File</label>
        <input type="file" name="file">
        <br><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}