{% extends "base.html" %}
{% block start %}
    <h1>
        Hello Client !!
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repudiandae nulla dolorum quo rem ad ducimus aspernatur impedit deleniti nisi.
    </p>

    <p>{{names}}</p>            

    {% for name in names %}
    <h3>{{name}}</h3>
    {% endfor %}

    {{ fruits | default:"No value" }}  
    {{ names | length }}

    <a href="/contact/">Contact</a>
    <a href="/about/">About</a>
{% endblock %}