{% extends "base.html" %}
{% block start %}

<div class="container-fluid m-5">

    <form action="">
        <div class="row">
            <div class="col-6">
                <input name="search" class="form-control" value="{{search}}" type="text" placeholder="search">
            </div>
            
            <div class="col-6">
                <select name="age" id=""class="form-control">
                    <option>Select</option>
                    <option value="1">Between 18 - 20</option>
                    <option value="2">Between 20 - 22</option>
                    <option value="3">Between 22 - 24</option>
                </select>
            </div>
        </div>

        <button class="btn btn-success mt-2">Search</button>
    </form>
<table class="table table-striped .fs-1 text">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Email</th>
        <th scope="col">College</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Student Bio</th>
      </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{student.name}}</td>
        <td>{{student.mobile_number}}</td>
        <td>{{student.email}}</td>
        <td>{{student.college.college_name}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.age}}</td>
        <td>{{student.student_bio}}</td>
      </tr>
    {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}